<div id="<%= dom_id estagio %>">
  <p class="card-header subtitle center" style="text-align: center;">
    <strong>Titulo:</strong>
    <%= estagio.titulo %>
  </p>

  <div class="card-content">
    <p style="text-align: center;">
      <strong>Descricao:</strong>
      <%= estagio.descricao %>
    </p>

    <p style="text-align: center;">
      <strong>Localidade:</strong>
      <%= estagio.localidade %>
    </p>
  </div>


</div>
