<div id="<%= dom_id estagio %>">
  <p>
    <strong>Titulo:</strong>
    <%= estagio.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= estagio.descricao %>
  </p>

  <p>
    <strong>Localidade:</strong>
    <%= estagio.localidade %>
  </p>

</div>
