<p style="color: green"><%= notice %></p>


<h1 class="title" style="text-align: center;">Estagios</h1>



<div id="estagios">
  <% @estagios.each do |estagio| %>
    <div class="card">
      <%= render estagio %>
      <div class="card-footer">
        <div class="center" style="text-align: center">
          <p><%= link_to "Show this estagio", estagio, style: 'display: block' %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="center" style="text-align: center;">
  <%= link_to "New estagio", new_estagio_path %>
</div>

